<a href="https://colab.research.google.com/github/nstsj/python_for_CL/blob/master/18Nov2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### SMALL INTRO ON REGEXES

In [0]:
import re
text = "this is me, these are them, and here we are"
print(re.findall(r"th(?:is|ese) (?:is|are) (?:me|you|them)(?=,)", text))
#(?:) is a non-capturing group (will not appear in the result) (?=) is a positive lookahead

['this is me', 'these are them']

In [0]:
pronouns=["me" , "you", "them"]
verbs=["is", "are"]
determinatives=["this", "these"]

print(re.findall("(?:{}) (?:{}) (?:{})(?=,)".format("|".join(determinatives), "|".join(verbs), "|".join(pronouns)), text))
print("a quick demonstration before and after join:")
print(determinatives)
print(" ".join(determinatives))

['this is me', 'these are them']
a quick demonstration before and after join:
['this', 'these']
this these

### PANDAS!

In [0]:
# ! pip3 list # проверяем список установленных библиотек, вдруг pandas уже есть

In [0]:
# ! pip3 install pandas # делаем такое если pandas не найден

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [1]:
import pandas as pd # теперь импортируем pandas в эту тетрадку

документация для pandas [лежит здесь](https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html)

Основные элементы "табличек в pandas" - это Series и Dataframe

Series - это объект, похожий на одномерный массив (как обычный список в питоне) с элементами и  индексами вдоль каждого элемента из списка. 

DataFrame "собирается" из таких Series

*визуализация "таблички" в pandas* 

<figure class="captioned-images"><div class="attributed-wrap"><img alt="Series vs DataFrame" class="img-responsive" height="383" src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" width="1000"></div></figure>

Создадим Dataframe:

In [4]:
# шаг 1 создадим словарь

data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

# шаг 2 используем метод pd.DataFrame(), где аргументом подадим созданный словарь
purchases = pd.DataFrame(data) 

purchases # посмотрим на датафрейм

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [5]:
# добавим именной индекс

purchases = pd.DataFrame(data, index=['Jane', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
Jane         3        0
Robert       2        3
Lily         0        7
David        1        2

In [0]:
# достаем покупку по имени

purchases.loc['Jane']

apples     3
oranges    0
Name: Jane, dtype: int64

In [0]:
purchases['apples'] # достаем покупателей по заголовку колонки

Jane      3
Robert    2
Lily      0
David     1
Name: apples, dtype: int64

добавим новых колонок в датафрейм: (метод .assign)

In [0]:
purchases = purchases.assign(weekday=['Mon',"Wed","Thu","Sat"],daytime=["mor","evn","evn","evn"])
purchases

        apples  oranges weekday daytime
Jane         3        0     Mon     mor
Robert       2        3     Wed     evn
Lily         0        7     Thu     evn
David        1        2     Sat     evn

А строк? Тоже можно: (.append)

In [0]:
# шаг1 создадим новый маленький датафрейм: 
 df1 = pd.DataFrame({'apples': "3",
                     'oranges': '4',
                        'weekday':"Fri",
                       'daytime':"mor"},
                       index=["Alexander"])
 

df1

          apples oranges weekday daytime
Alexander      3       4     Fri     mor

In [0]:
# шаг2 добавим новый df к старому
purchases = purchases.append(df1)

In [0]:
purchases # посмотрим на результат

          apples oranges weekday daytime
Jane           3       0     Mon     mor
Robert         2       3     Wed     evn
Lily           0       7     Thu     evn
David          1       2     Sat     evn
Alexander      3       4     Fri     mor

### что делать, если добавились ненужные строки?

In [0]:
# добавим Монику и Олега, они ничего не купили, потому что пришли в воскресенье вечером, магазин был закрыт

purchases = purchases.append(pd.DataFrame({
    'apples': [0,0],'oranges': [0,0],
    'weekday':["Sun","Sun"],
    'daytime':["evn","evn"]},
     index=["Monica","Oleg"]))

In [0]:
purchases
# теперь у нас есть Моника и Олег, а еще два раза Александр. 
# Мы хотим удалить лишние строки: Монику, Олега и один раз Александра.

          apples oranges weekday daytime
Jane           3       0     Mon     mor
Robert         2       3     Wed     evn
Lily           0       7     Thu     evn
David          1       2     Sat     evn
Alexander      3       4     Fri     mor
Monica         0       0     Sun     evn
Oleg           0       0     Sun     evn

In [0]:
# Удалим строки с покупками Моники и Олега
purchases = purchases.drop(["Monica","Oleg"])

In [0]:
#убираем дупликаты
purchases = purchases.drop_duplicates()

In [0]:
# проверяем, что все хорошо: у нас больше нет ненужных строк и дубликатов
purchases

          apples oranges weekday daytime
Jane           3       0     Mon     mor
Robert         2       3     Wed     evn
Lily           0       7     Thu     evn
David          1       2     Sat     evn
Alexander      3       4     Fri     mor

### индексы
Объект DataFrame имеет 2 индекса: по строкам и по столбцам.

In [0]:
print('indices are:', purchases.index, "\n")
print('columns are:', purchases.columns)

indices are: Index(['Jane', 'Robert', 'Lily', 'David', 'Alexander'], dtype='object')

columns are: Index(['apples', 'oranges', 'weekday', 'daytime'], dtype='object')

In [0]:
# пересечение индексов выдаст конкретную ячейку: ищем сколько яблок купил Роберт

purchases.loc['Robert']['apples']

2

**Доступ к строкам по индексу** можно делать несколькими способами:

```.loc``` - используется для доступа по строке

```.iloc``` - используется для доступа по числовому значению (начиная от 0)

In [0]:
purchases.loc['Jane'] # по названию индекса

apples       3
oranges      0
weekday    Mon
daytime    mor
Name: Jane, dtype: object

In [0]:
purchases.iloc[0] # по номеру строки (у первой строки нулевой индекс)

# что покажет индекс -1 ?

apples       3
oranges      0
weekday    Mon
daytime    mor
Name: Jane, dtype: object

### характеристики датафрейма:

In [0]:
purchases.shape

(5, 4)

In [12]:
purchases.describe()

         apples  oranges
count  4.000000  4.00000
mean   1.500000  3.00000
std    1.290994  2.94392
min    0.000000  0.00000
25%    0.750000  1.50000
50%    1.500000  2.50000
75%    2.250000  4.00000
max    3.000000  7.00000

In [0]:
purchases.columns.values

array(['apples', 'oranges', 'weekday', 'daytime'], dtype=object)

### Сохранение в файл и чтение из файла

In [0]:
# сохраним в .csv файл

purchases.to_csv('purchases.csv')

In [13]:
# прочитаем файл

df = pd.read_csv('purchases.csv')
df

FileNotFoundError: [Errno 2] File b'purchases.csv' does not exist: b'purchases.csv'

### фильтрация значений

In [0]:
df.columns = ['names','apples','oranges',
                     'weekday','daytime']

In [0]:
df[df["apples"] > 2] #фильтр на значение столбца

       names  apples  oranges weekday daytime
0       Jane       3        0     Mon     mor
4  Alexander       3        4     Fri     mor

In [0]:
newdf = df[df["apples"] > 2]
newdf

       names  apples  oranges weekday daytime
0       Jane       3        0     Mon     mor
4  Alexander       3        4     Fri     mor

In [0]:
df[(df["apples"] > 0) & (df["oranges"] > 0)] 
# & == "and", | == "or" 
# full answer:https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o

       names  apples  oranges weekday daytime
1     Robert       2        3     Wed     evn
3      David       1        2     Sat     evn
4  Alexander       3        4     Fri     mor

In [0]:
df["fruits"] = df["apples"] + df["oranges"]

In [0]:
df

       names  apples  oranges weekday daytime  fruits
0       Jane       3        0     Mon     mor       3
1     Robert       2        3     Wed     evn       5
2       Lily       0        7     Thu     evn       7
3      David       1        2     Sat     evn       3
4  Alexander       3        4     Fri     mor       7

In [0]:
print("apples:", df["apples"].sum(), "oranges:", df["oranges"].sum())

apples: 9 oranges: 16

In [0]:
df[df["weekday"].str.match(r"(M|W)")]

    names  apples  oranges weekday daytime  fruits
0    Jane       3        0     Mon     mor       3
1  Robert       2        3     Wed     evn       5

In [0]:
newdf = df.loc[0:2, ["apples", "oranges"]]
newdf

   apples  oranges
0       3        0
1       2        3
2       0        7

### ДЗ!!!!

In [14]:
df = pd.read_csv('DZ1811.csv', encoding="utf-8", sep=";")

In [19]:
df.loc[32]

Column1                                               32
listing.city                                   barcelona
listing.neighborhood                        Ciutat Vella
p3_summary_title                Económico y muy Céntrico
description_locale                                    es
listing.extra_host_languages                          []
listing.star_rating                                   45
Name: 32, dtype: object

In [15]:
df.head()

,Column1,listing.city,listing.neighborhood,p3_summary_title,description_locale,listing.extra_host_languages,listing.star_rating
0,0.0,barcelona,El Besòs i el Maresme,Double Private room with breakfast near the beach,en,['en'],45.0
1,1.0,barcelona,Sants-Montjuïc,"ROOM CENTRAL, IDEAL for CITY VISITORS",en,['en'],50.0
2,2.0,barcelona,Ciutat Vella,room in downtown!!,en,['en'],45.0
3,3.0,barcelona,Eixample,Little single room to rest in BCN,en,['it'],45.0
4,4.0,barcelona,La Nova Esquerra de l'Eixample,Habitación doble con balcón ideal para parejas,es,[],45.0

In [0]:
df

      Column1 listing.city  ... listing.extra_host_languages listing.star_rating
0         0.0    barcelona  ...                       ['en']                45.0
1         1.0    barcelona  ...                       ['en']                50.0
2         2.0    barcelona  ...                       ['en']                45.0
3         3.0    barcelona  ...                       ['it']                45.0
4         4.0    barcelona  ...                           []                45.0
...       ...          ...  ...                          ...                 ...
3934   3930.0         rome  ...                           []                 NaN
3935   3931.0         rome  ...           ['de', 'en', 'fr']                 NaN
3936   3932.0         rome  ...     ['en', 'es', 'fr', 'pt']                 NaN
3937   3933.0         rome  ...                           []                50.0
3938   3934.0         rome  ...     ['de', 'en', 'es', 'fr']                 NaN

[3939 rows x 7 columns]

In [16]:
df.dropna()

,Column1,listing.city,listing.neighborhood,p3_summary_title,description_locale,listing.extra_host_languages,listing.star_rating
0,0.0,barcelona,El Besòs i el Maresme,Double Private room with breakfast near the beach,en,['en'],45.0
1,1.0,barcelona,Sants-Montjuïc,"ROOM CENTRAL, IDEAL for CITY VISITORS",en,['en'],50.0
2,2.0,barcelona,Ciutat Vella,room in downtown!!,en,['en'],45.0
3,3.0,barcelona,Eixample,Little single room to rest in BCN,en,['it'],45.0
4,4.0,barcelona,La Nova Esquerra de l'Eixample,Habitación doble con balcón ideal para parejas,es,[],45.0
...,...,...,...,...,...,...,...
3912,3908.0,rome,Trastevere,Raffinato B&B Roma centro,it,[],50.0
3913,3909.0,rome,Roma Centro,Old Rome 4BR 3BA panoramic terrace,en,"['en', 'es', 'fr', 'he', 'ar']",50.0
3915,3911.0,rome,Aurelio,Your holiday next to St. Peter,en,"['en', 'fr']",45.0
3922,3918.0,rome,Roma Centro,Assunta Domus - Elegant Suite,en,[],45.0
3937,3933.0,rome,Roma Centro,Spanish Steps square Lux property,en,[],50.0

In [18]:
df.shape

(3939, 7)

### HOW TO EXTRACT TEXT FROM COLUMNS?

In [0]:
df["p3_summary_title"] #this is a pandas series

0       Double Private room with breakfast near the beach
1                   ROOM CENTRAL, IDEAL for CITY VISITORS
2                                      room in downtown!!
3                       Little single room to rest in BCN
4          Habitación doble con balcón ideal para parejas
                              ...
3934    Augustus - Elegant 2 Bedroom Apartment in Cent...
3935                  Your Mansion In Rome Villa Sospisio
3936                            Via Giulia by ONEFINESTAY
3937                    Spanish Steps square Lux property
3938    ROME VILLA SWIMMING POOL GARDEN 8KM TO CITY CE...
Name: p3_summary_title, Length: 3939, dtype: object

In [0]:
df["p3_summary_title"].values #this is a numpy array

array(['Double Private room with breakfast near the beach',
       'ROOM CENTRAL, IDEAL for CITY VISITORS', 'room in downtown!!', ...,
       'Via Giulia by ONEFINESTAY', 'Spanish Steps square Lux property',
       'ROME VILLA SWIMMING POOL GARDEN 8KM TO CITY CENTRE'], dtype=object)

In [20]:
len(list(df["p3_summary_title"].values)) #this is a python list

3939

In [47]:
# Filter out non 'en' records from original df
df_en = df[df['description_locale'] == 'en']
df_en.shape

(3489, 7)

In [45]:
# Keep only title column
df_title = df_en['p3_summary_title']
df_title.shape

(3489,)

In [46]:
# Remove nan records
df_en_no_nan = df_title.dropna()
df_en_no_nan.shape

(3487,)

In [40]:
# Convert series to list
df_en_summ_title = list(df_en_no_nan.values)

In [41]:
# View the first 3 elements in the list
df_en_summ_title[:3]

['Double Private room with breakfast near the beach',
 'ROOM CENTRAL, IDEAL for CITY VISITORS',
 'room in downtown!!']

In [42]:
len(df_en_summ_title)

3487

In [26]:
import re
from nltk.util import ngrams

In [27]:
def ngrams_by_nltk(word, num): 
#создаем функцию, прописываем аргументы: строка + чему равно n в n-gram(биграммы, триграммы, и т.д.)

#     word = word.lower() # предобработка: сводим к нижнему регистру
#     print(word)
    
    word = re.sub("[!\"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~]?","", word.lower())
    #убираем пунктуацию
#     print(word)

#     tokens = [token for token in word.split() if token != ""]
    tokens = word.split()
#     print(tokens)
    # добавляем токены в список, если они не пустые. Дальше этот список будем подавать функции как аргумент

    output = list(ngrams(tokens, num)) 
    # используем встроенную ngrams, а ее результат делаем листом и сохраняем в переменную output

    return output

In [43]:
res3 = ngrams_by_nltk(' '.join(df_en_summ_title), 3)

In [44]:
from collections import Counter

Counter(res3).most_common(10)

[(('the', 'heart', 'of'), 97),
 (('in', 'the', 'heart'), 94),
 (('heart', 'of', 'paris'), 47),
 (('apartment', 'in', 'the'), 46),
 (('paseo', 'de', 'gracia'), 29),
 (('up', 'to', '20'), 25),
 (('to', '20', 'off'), 25),
 (('in', 'the', 'center'), 23),
 (('ii', 'by', 'onefinestay'), 22),
 (('bedroom', 'apartment', 'in'), 21)]